@media(max-width:1120px) {

    body {
        background: url(../images/bg-mobile.svg)no-repeat;
        background-size: 100vh;
        background-color: var(--primary-dark);
    }

    .container .header {
        margin-bottom: 40px;
        margin-left: 80px;
    }

    .container .header img{
        max-width: 25vw;
    }

    .container .main {
        display: flex;
        flex-direction: column;
        max-width: 75vw;
        margin: 0 auto;
    }

    .container .main img {
        width: 100%;
        margin-bottom: 40px;
    }

    .container .main .txt {
        width: 80%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 0;
     }
    
    .container .main .txt h2 {
        font-size: 2.5rem;
    }

    .container .main .txt p {
        font-size: 1.45rem;
    }

    .container .main .txt a{
        text-align: center;
        min-width: 35vw;
    }

    .container .footer {
        display: flex;
        margin-top: 20px;
        margin-right: 0;
    }

    .container .footer .social-links {
        align-items: center;
        justify-content: center;
        gap: 0;
        font-size: 2rem;
        margin-bottom: 15%;
    }
}
